<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        @page {
            size: a4 landscape;
            margin: 0;
            background-image: url("{{ BG_PATH }}");
            background-size: 100% 100%;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: "Times-Roman", serif;
        }
        table {
            border-collapse: collapse;
            border: none;
        }
        td {
            border: none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <table width="100%">
        {% for row in layout_rows %}
        
        <!-- Vertical spacer -->
        {% if row.gap_mm > 0 %}
        <tr><td style="height: {{ row.gap_mm|floatformat:1 }}mm; font-size: 1pt; line-height: 1;">&nbsp;</td></tr>
        {% endif %}
        
        <!-- Content row -->
        {% if row.type == 'single' %}
        <tr>
            <td style="
                height: {{ row.height_mm|floatformat:1 }}mm;
                text-align: center;
                vertical-align: middle;
                font-size: {{ row.font_size }}pt;
                color: {{ row.color }};
                {% if row.weight == 'bold' %}font-weight: bold;{% endif %}
                font-family: 'Times-Roman', serif;
                padding-left: {{ row.pad_left_pct }}%;
                padding-right: {{ row.pad_right_pct }}%;
                white-space: nowrap;
            ">{{ row.text }}</td>
        </tr>
        {% elif row.type == 'multi' %}
        <tr>
            <td style="height: {{ row.height_mm|floatformat:1 }}mm; padding: 0;">
                <table width="100%">
                    <tr>
                        {% for col in row.columns %}
                        <td style="
                            text-align: center;
                            vertical-align: middle;
                            font-size: {{ col.font_size }}pt;
                            color: {{ col.color }};
                            {% if col.weight == 'bold' %}font-weight: bold;{% endif %}
                            font-family: 'Times-Roman', serif;
                            white-space: nowrap;
                            padding-left: {{ col.pad_left_pct|floatformat:1 }}%;
                            padding-right: {{ col.pad_right_pct|floatformat:1 }}%;
                        ">{{ col.text }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}
        
        {% endfor %}
    </table>
</body>
</html>
